manifest {
  description = 'CutTagFlow'
  nextflowVersion = '25.10.4'
}

includeConfig 'conf/params.config'

profiles {
  going_merry {
    includeConfig 'conf/local.config'
    includeConfig 'conf/containers.config'
  }
  slurm {
    includeConfig 'conf/slurm.config'
    includeConfig 'conf/containers.config'
  }
}
