process {
    withName: 'FASTQC' {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }

    withName: 'TRIM' {
        container = 'quay.io/biocontainers/fastp:0.23.4--h5f740d0_0'
    }

    withName: 'MULTIQC' {
        container = 'quay.io/biocontainers/multiqc:1.21--pyhdfd78af_0'    
    }

    withName: /ALIGNMENT|SPIKEIN_ALIGNMENT|MARK_DUPLICATES|FILTER_BAM|FRIP_SCORE/ {
        container = { 'oras://community.wave.seqera.io/library/bedtools_bowtie2_picard_samtools:d47d914b762939a2' }
    }

    withName: /PLOT_ALIGNMENT|PLOT_QC_METRICS|PLOT_QC_FILTERED|PLOT_GLOBAL_QC/ {
        container = { 'oras://community.wave.seqera.io/library/r-ggpubr_r-patchwork_r-tidyverse:27eb6d026cc8fbbd' }
    }

    withName: 'MACS3' {
        container = { 'oras://community.wave.seqera.io/library/macs3:3.0.4--80ec79455cec7a98' }
    }

//    withName: 'TSSE' {
//        container = { '' }
//    }

}