params {
    outdir        = 'results'

    // Processes
    first_steps   = false
    second_steps  = false
    fastqc        = params.first_steps || false
    trim          = params.first_steps || false
    fastqc_trim   = params.first_steps || false
    alignment     = params.first_steps || false
    spikein       = false
    filtering     = params.second_steps || false
    peaks         = params.second_steps || false

    // REFERENCES
    bowtie2_index = "/mnt/jw01-aruk-home01/projects/shared_resources/sequencing/data/Homo_sapiens/UCSC/hg38/Sequence/Bowtie2Index/"
    genome_fasta  = "/mnt/jw01-aruk-home01/projects/shared_resources/sequencing/data/Homo_sapiens/UCSC/hg38/Sequence/hg38/fasta/genome.fa"
    genome_file   = "/mnt/jw01-aruk-home01/projects/functional_genomics/common_files/data/external/reference/Homo_sapiens/hg38/Sequence/WholeGenomeFasta/genome.genome"
    blacklist_bed = "/mnt/jw01-aruk-home01/projects/oa_functional_genomics/common_files/data/external/Blacklist/lists/hg38-blacklist.v2.bed"
    genome_size   = 'hs' // 'hs' : human; 'mm' : mouse
    chr_sizes    = "data/reference/genome.genome.txt"
    tss_bed       = "data/reference/gencode.v29.TSS_sites_protein_coding_sorted.bed"
}