params {
    outdir        = 'results'
    max_cpu_percent = 70

    // OPTIONS
    genome_size   = 'hs' // 'hs' : human; 'mm' : mouse
    chromFile     = 'hg38' // 'hg19', 'mm10', 'mm9'
    min_overlap   = 3
    meta_spike    = 'data/sample_metadata.txt'

    // PROCESSES
    all           = false
    first_steps   = params.all || false
    second_steps  = params.all || false
    fastqc        = params.first_steps || false
    trim          = params.first_steps || false
    fastqc_trim   = params.first_steps || false
    alignment     = params.first_steps || false
    filtering     = params.second_steps || false
    peaks         = params.second_steps || false
    diffbind      = params.second_steps || false
    coverage      = params.second_steps || false
    variant       = params.second_steps || false

    // REFERENCES
    bowtie2_index = "${projectDir}/data/reference/Bowtie2Index/"
    genome_fasta  = "${projectDir}/data/reference/genome.fa"
    genome_fai    = "${projectDir}/data/reference/genome.fa.fai"
    genome_dict   = "${projectDir}/data/reference/genome.dict"
    chr_sizes     = "${projectDir}/data/reference/genome.genome.txt"
    blacklist_bed = "${projectDir}/data/reference/hg38-blacklist.v2.bed"
    tss_bed       = "${projectDir}/data/reference/gencode.v29.TSS_sites_protein_coding_sorted.bed"
}
