process {
    executor = 'slurm'
    clusterOptions = '-p multicore'
    cpus   = { 8 * task.attempt }
    memory = { 32.GB * task.attempt }
    time   = { 24.h * task.attempt }
    
    errorStrategy = 'retry'
    maxRetries    = 2
}

singularity {
    enabled     = true
    autoMounts  = true
}

process {
    withLabel: 'process_high' {
        cpus   = 32        
        memory = '32 GB'
        time   = '4h'
    }
}