process {
    executor       = 'slurm'
    clusterOptions = '-p multicore'
    errorStrategy  = 'retry'
    maxRetries     = 1

    cpus   = { 8 * task.attempt }
    time   = { 12.h * task.attempt }
    
    withLabel: 'qc' {
        cpus   = { 12 * task.attempt }        
        time   = { 4.h * task.attempt }
    }

    withLabel: 'process_low' {
        cpus   = { 6 * task.attempt }        
        time   = { 2.h * task.attempt }
    }

    withLabel: 'process_medium' {
        cpus   = { 12 * task.attempt }        
        time   = { 4.h * task.attempt }
    }    

    withLabel: 'process_high' {
        cpus   = { 32 * task.attempt }        
        time   = { 12.h * task.attempt }
    }
}

singularity {
    enabled    = true
    autoMounts = true
}
